<h3>Carga Archivo para Resolver el ejercicio No. 1</h3>

<%= form_with url: exercise_one_path, local: true do |f| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :input_file, 'Elige el archivo con el input de prueba' %>
        <%= f.file_field :input_file, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group mt-20">
    <%= f.submit 'Cargar', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<hr>
<h5>Solución</h5>
<hr>

  <% @solution.each_with_index do |set, index| %>
  	<h5><%= "Conjunto de datos No. #{index+1}"%><h5>
		<% set.each do |x|%>
			<p><%=get_problem1_answer(x)%></p>
		<% end%>
  <% end%>
